.bild{
	width: 310px;
	height: 230px;
	border: solid 2px;
}
body{

    padding-left: 45px;
	padding-right: 45px;
	padding-top: 15px;
	padding-bottom: 15px;
	
}
.container{
	background-color: lightgrey;
	text-align: center;
	padding: 10px;
	border-radius: 40px;
	border: solid 2px;
}

#efterskickat{
	visibility: hidden;
}

.div1{
	border: solid 2px;
	background-color: white;
	width: 600px;
	border-radius: 40px;
    margin: auto;
    padding: 10px;
}

@media only screen and (max-width: 600px){
	.quiz
}